body {
  background-color: black;
}

.button-container {
  display: flex;
}

.time-container {
  display: none;
}

.custom-padding {
  padding-left: 7vw;
}

button, .note-input {
  background-color: lightgray;
  padding: 5px 10px;
  box-shadow: 1px 1px 8px #a19655;
  font-weight: 600;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -webkit-appearance: none;
}

button {
  font-size: 1.4vw;
  margin: 0px 15px 0px 15px;
}

.note-input {
  width: 7vw;
  font-size: 1.4vw;
  text-align-last: center;
}

[class *='time-input'] {
  border: .4vw solid yellow;
  width: 3.2vw;
  margin: .4vw;
}

#main {
  background-blend-mode: color-burn;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  font-family: Monoton;
  font-size: 4.5vw;
  font-weight: 200;
  margin: 1vw 0 1.5vw 0;
  text-shadow: 6px 6px 8px #a19655;
}

.sequencer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}


[class *="row-"] {
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: center;
  color: white;
}

.row-container {
  display: flex;
  align-items: center;
}

.note-input {
  display: none;
}

.visible {
  display: block;
}

.note-face-front {
  height: 2.4vw;
  width: 2.4vw;
  text-align: center;
  vertical-align: middle;
  margin: .4vw;
}

[shape="circle"] {
  border-radius: 2.4vw;
}

[shape="square"] {
  border-radius: 0;
}

@-webkit-keyframes pulse-shrink {
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes pulse-shrink {
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

[data-selected="true"] {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-animation-name: pulse-shrink;
  animation-name: pulse-shrink;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  background-image: radial-gradient(white, rgb(248, 248, 153));
}

.sound-sound0 {
  border: .4vw solid rgb(255, 145, 0);
}

.sound-sound1 {
  border: .4vw solid red;
}

.sound-sound2 {
  border: .4vw solid purple;
}

.sound-sound3 {
  border: .4vw solid indigo;
}

.sound-sound4 {
  border: .4vw solid blue;
}

.sound-sound5 {
  border: .4vw solid rgb(2, 224, 194);
}

.sound-sound6 {
  border: .4vw solid rgb(0, 255, 0);
}

.sound-sound7 {
  border: .4vw solid yellow;
}

.note [data-selected="false"]{
  position: relative;
  transition: transform 2s;
  transform-style: preserve-3d;
  margin: .4vw;
}

.note [data-selected="false"]:hover{
  transform: rotateY(180deg);
  margin: .4vw;
}

.note [data-playing="true"] {
  background-image: radial-gradient(black, black,black);
}

.links-container {
  display: flex;
}

.links {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  vertical-align: middle;
  text-align: center;
  margin: 2vw 3vw 2vw 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links p {
  color: white;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  margin: 1vw;
  font-size: 1.5vw;
}

.links img {
  height: 3vw;
  float: left;
}

#modal-container {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#modal-content {
  background-color: black;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  color: white;
}

#close {
  color: purple;
  float: right;
  font-size: 36px;
  font-weight: bold;
}

#close:hover, .close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

#modal-title {
  font-family: Monoton;
  font-size: 36px;
  font-weight: 100;
}

#modal-content {
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.scales-container div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.4vw;
  font-weight: 600;
  margin: 1vw;
  
}

.scales-container input {
  vertical-align: middle;
}

.radio-div,
.shapes,
.note-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

label {
  font-size: 1.4vw;
}

 
.note-time.first,
.shapes.first {
  margin-left: 40px;
}

@media (max-width: 767px) {
  .note-input {
    width: 10.5vw;
  }

  .custom-padding {
    padding-left: 10.5vw;
  }
}

@media (max-width: 460px) {
  .main-title {
    font-size: 6vw;
  }

  button, .note-input {
    padding: 3px 8px;
  }

  .scales-container div {
    margin: 4px;
  }
}