html {
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

body {
  margin: 0px;
  height: 100%;
  background-color: black;
  display: flex;
}

button {
  height: 30px;
  margin: 0px 20px 20px 20px ;
  box-shadow: 1px 1px 8px #a19655;
  font-weight: 700;
}

#main {
  background-blend-mode: color-burn;
  background-color: black;
  color: white;
  height: auto;
  width: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  font-family: Monoton;
  font-size: 48px;
  /* text-shadow: 3px 3px gray; */
  font-weight: 20;
  margin: 20px;
  text-shadow: 6px 6px 8px #a19655;
}
.sequencer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: center;
}


[class *="row-"] {
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: center;
  color: white;
}

.note-face-front {
  height: 35px;
  width: 35px;
  border-radius: 35px;
  text-align: center;
  vertical-align: middle;
  margin: 3px;
}

@-webkit-keyframes pulse-shrink {
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes pulse-shrink {
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
[data-selected="true"] {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-animation-name: pulse-shrink;
  animation-name: pulse-shrink;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  background-image: radial-gradient(white, rgb(248, 248, 153));
}


.sound-sound0 {
  border: 5px solid rgb(255, 145, 0);
}

.sound-sound1 {
  border: 5px solid red;
}

.sound-sound2 {
  border: 5px solid purple;
}

.sound-sound3 {
  border: 5px solid indigo;
}

.sound-sound4 {
  border: 5px solid blue;
}

.sound-sound5 {
  border: 5px solid rgb(2, 224, 194);
}

.sound-sound6 {
  border: 5px solid rgb(0, 255, 0);
}

.sound-sound7 {
  border: 5px solid yellow;
}

.note [data-selected="false"]:hover{
  transform: rotateY(180deg);
  margin: 3px;

}

.note [data-selected="false"]{
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  margin: 3px;
}

.links-container {
  display: flex;

}

.links {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  vertical-align: middle;
  text-align: center;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links a {
  color: white;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
}

.links p {
  color: white;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  margin: 5px;
}

.links img {
  height: 35px;
  float: left;
}